[Unit]
Description=MBS 
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/opt/mqtt_bash_service/mqtt_bash_service.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
